PORT=3001
API_KEY=my_super_secret_foodapp_key_123
GEMINI_API_KEY=AIzaSyCVsuKRrBC09qkhvWZjHqzbTWIVa2OmQxE
FOURSQUARE_API_KEY=CQGBEP5WAKRSWLU5I414BPWZRPPGVVEWDW5QV354NGIA2VAL
WHISPER_MODEL_PATH=/path/to/ggml-base.bin
WHISPER_CLI_PATH=whisper-cli # or /usr/local/bin/whisper-cli
